# Created by .ignore support plugin (hsz.mobi)

/back/node_modules
/front/node_modules
.idea/
back/node_modules/.bin/
back/node_modules/.yarn-integrity
back/node_modules/@apollo/
back/node_modules/@apollographql/
back/node_modules/@protobufjs/
back/node_modules/@sindresorhus/
back/node_modules/@szmarczak/
back/node_modules/@types/
back/node_modules/@wry/
back/node_modules/abbrev/
back/node_modules/accepts/
back/node_modules/acorn-jsx/
back/node_modules/acorn/
back/node_modules/ajv-keywords/
back/node_modules/ajv/
back/node_modules/ansi-align/
back/node_modules/ansi-escapes/
back/node_modules/ansi-regex/
back/node_modules/ansi-styles/
back/node_modules/anymatch/
back/node_modules/apollo-cache-control/
back/node_modules/apollo-datasource/
back/node_modules/apollo-engine-reporting-protobuf/
back/node_modules/apollo-engine-reporting/
back/node_modules/apollo-env/
back/node_modules/apollo-graphql/
back/node_modules/apollo-link/
back/node_modules/apollo-server-caching/
back/node_modules/apollo-server-core/
back/node_modules/apollo-server-env/
back/node_modules/apollo-server-errors/
back/node_modules/apollo-server-express/
back/node_modules/apollo-server-plugin-base/
back/node_modules/apollo-server-types/
back/node_modules/apollo-tracing/
back/node_modules/apollo-utilities/
back/node_modules/arg/
back/node_modules/argparse/
back/node_modules/array-flatten/
back/node_modules/asn1/
back/node_modules/assert-plus/
back/node_modules/async-limiter/
back/node_modules/async-retry/
back/node_modules/asynckit/
back/node_modules/aws-sign2/
back/node_modules/aws4/
back/node_modules/babel-code-frame/
back/node_modules/backo2/
back/node_modules/balanced-match/
back/node_modules/bcrypt-pbkdf/
back/node_modules/binary-extensions/
back/node_modules/body-parser/
back/node_modules/boxen/
back/node_modules/brace-expansion/
back/node_modules/braces/
back/node_modules/buffer-from/
back/node_modules/busboy/
back/node_modules/bytes/
back/node_modules/cacheable-request/
back/node_modules/caller-path/
back/node_modules/callsites/
back/node_modules/camelcase/
back/node_modules/caseless/
back/node_modules/chalk/
back/node_modules/chardet/
back/node_modules/chokidar/
back/node_modules/ci-info/
back/node_modules/circular-json/
back/node_modules/cli-boxes/
back/node_modules/cli-cursor/
back/node_modules/cli-table3/
back/node_modules/cli-width/
back/node_modules/cliui/
back/node_modules/clone-response/
back/node_modules/co/
back/node_modules/color-convert/
back/node_modules/color-name/
back/node_modules/colors/
back/node_modules/combined-stream/
back/node_modules/commander/
back/node_modules/component-emitter/
back/node_modules/concat-map/
back/node_modules/concat-stream/
back/node_modules/concurrently/
back/node_modules/configstore/
back/node_modules/content-disposition/
back/node_modules/content-type/
back/node_modules/cookie-signature/
back/node_modules/cookie/
back/node_modules/cookiejar/
back/node_modules/core-js/
back/node_modules/core-util-is/
Would re
move back/node_modules/cors/
back/node_modules/cross-spawn/
back/node_modules/crypto-random-string/
back/node_modules/cssfilter/
back/node_modules/dashdash/
back/node_modules/date-fns/
back/node_modules/debug/
back/node_modules/decamelize/
back/node_modules/decompress-response/
back/node_modules/deep-extend/
back/node_modules/deep-is/
back/node_modules/defer-to-connect/
back/node_modules/define-properties/
back/node_modules/delayed-stream/
back/node_modules/depd/
back/node_modules/deprecated-decorator/
back/node_modules/destroy/
back/node_modules/dicer/
back/node_modules/diff/
back/node_modules/doctrine/
back/node_modules/dot-prop/
back/node_modules/duplexer3/
back/node_modules/ecc-jsbn/
back/node_modules/ee-first/
back/node_modules/emoji-regex/
back/node_modules/encodeurl/
back/node_modules/end-of-stream/
back/node_modules/error-ex/
back/node_modules/es-abstract/
back/node_modules/es-to-primitive/
back/node_modules/escape-goat/
back/node_modules/escape-html/
back/node_modules/escape-string-regexp/
back/node_modules/eslint-scope/
back/node_modules/eslint-visitor-keys/
back/node_modules/eslint/
back/node_modules/espree/
back/node_modules/esprima/
back/node_modules/esquery/
back/node_modules/esrecurse/
back/node_modules/estraverse/
back/node_modules/esutils/
back/node_modules/etag/
back/node_modules/eventemitter3/
back/node_modules/express-graphql/
back/node_modules/express/
back/node_modules/extend/
back/node_modules/external-editor/
back/node_modules/extsprintf/
back/node_modules/fast-deep-equal/
back/node_modules/fast-json-stable-stringify/
back/node_modules/fast-levenshtein/
back/node_modules/figures/
back/node_modules/file-entry-cache/
back/node_modules/fill-range/
back/node_modules/finalhandler/
back/node_modules/find-up/
back/node_modules/flat-cache/
back/node_modules/forever-agent/
back/node_modules/form-data/
back/node_modules/formidable/
back/node_modules/forwarded/
back/node_modules/fresh/
back/node_modules/fs-capacitor/.eslintignore
back/node_modules/fs-capacitor/.eslintrc.json
back/node_modules/fs-capacitor/.gitignore
back/node_modules/fs-capacitor/.huskyrc.json
back/node_modules/fs-capacitor/.lintstagedrc.json
back/node_modules/fs-capacitor/.npmrc
back/node_modules/fs-capacitor/.prettierignore
back/node_modules/fs-capacitor/.prettierrc.json
back/node_modules/fs-capacitor/.travis.yml
back/node_modules/fs-capacitor/babel.config.js
back/node_modules/fs-capacitor/changelog.md
back/node_modules/fs-capacitor/package.json
back/node_modules/fs-capacitor/readme.md
back/node_modules/fs-capacitor/src/
back/node_modules/fs.realpath/
back/node_modules/function-bind/
back/node_modules/functional-red-black-tree/
back/node_modules/get-caller-file/
back/node_modules/get-stream/
back/node_modules/getpass/
back/node_modules/glob-parent/
back/node_modules/glob/
back/node_modules/global-dirs/
back/node_modules/globals/
back/node_modules/got/
back/node_modules/graceful-fs/
back/node_modules/graph
ql-extensions/
back/node_modules/graphql-subscriptions/
back/node_modules/graphql-tag/
back/node_modules/graphql-tools/
back/node_modules/graphql-upload/
back/node_modules/graphql/
back/node_modules/har-schema/
back/node_modules/har-validator/
back/node_modules/has-ansi/
back/node_modules/has-flag/
back/node_modules/has-symbols/
back/node_modules/has-yarn/
back/node_modules/has/
back/node_modules/hosted-git-info/
back/node_modules/http-cache-semantics/
back/node_modules/http-errors/
back/node_modules/http-signature/
back/node_modules/iconv-lite/
back/node_modules/ignore-by-default/
back/node_modules/ignore/
back/node_modules/import-lazy/
back/node_modules/imurmurhash/
back/node_modules/inflight/
back/node_modules/inherits/
back/node_modules/ini/
back/node_modules/inquirer/
back/node_modules/ipaddr.js/
back/node_modules/is-arrayish/
back/node_modules/is-binary-path/
back/node_modules/is-callable/
back/node_modules/is-ci/
back/node_modules/is-date-object/
back/node_modules/is-extglob/
back/node_modules/is-fullwidth-code-point/
back/node_modules/is-glob/
back/node_modules/is-installed-globally/
back/node_modules/is-npm/
back/node_modules/is-number/
back/node_modules/is-obj/
back/node_modules/is-path-inside/
back/node_modules/is-regex/
back/node_modules/is-resolvable/
back/node_modules/is-symbol/
back/node_modules/is-typedarray/
back/node_modules/is-yarn-global/
back/node_modules/isarray/
back/node_modules/isexe/
back/node_modules/isstream/
back/node_modules/iterall/
back/node_modules/js-tokens/
back/node_modules/js-yaml/
back/node_modules/jsbn/
back/node_modules/json-buffer/
back/node_modules/json-parse-better-errors/
back/node_modules/json-schema-traverse/
back/node_modules/json-schema/
back/node_modules/json-stable-stringify-without-jsonify/
back/node_modules/json-stringify-safe/
back/node_modules/jsprim/
back/node_modules/keyv/
back/node_modules/latest-version/
back/node_modules/levn/
back/node_modules/locate-path/
back/node_modules/lodash.sortby/
back/node_modules/lodash/
back/node_modules/loglevel/
back/node_modules/long/
back/node_modules/lowercase-keys/
back/node_modules/lru-cache/
back/node_modules/make-dir/
back/node_modules/make-error/
back/node_modules/media-typer/
back/node_modules/merge-descriptors/
back/node_modules/methods/
back/node_modules/milieu/
back/node_modules/mime-db/
back/node_modules/mime-types/
back/node_modules/mime/
back/node_modules/mimic-fn/
back/node_modules/mimic-response/
back/node_modules/minimatch/
back/node_modules/minimist/
back/node_modules/mkdirp/
back/node_modules/ms/
back/node_modules/mute-stream/
back/node_modules/natural-compare/
back/node_modules/negotiator/
back/node_modules/node-fetch/
back/node_modules/nodemon/
back/node_modules/nopt/
back/node_modules/normalize-package-data/
back/node_modules/normalize-path/
back/node_modules/normalize-url/
back/node_modules/oauth-sign/
back/nod
e_modules/object-assign/
back/node_modules/object-inspect/
back/node_modules/object-keys/
back/node_modules/object-path/
back/node_modules/object.assign/
back/node_modules/object.getownpropertydescriptors/
back/node_modules/on-finished/
back/node_modules/once/
back/node_modules/onetime/
back/node_modules/optionator/
back/node_modules/os-tmpdir/
back/node_modules/p-cancelable/
back/node_modules/p-limit/
back/node_modules/p-locate/
back/node_modules/p-try/
back/node_modules/package-json/
back/node_modules/parse-json/
back/node_modules/parseurl/
back/node_modules/path-exists/
back/node_modules/path-is-absolute/
back/node_modules/path-is-inside/
back/node_modules/path-parse/
back/node_modules/path-to-regexp/
back/node_modules/performance-now/
back/node_modules/picomatch/
back/node_modules/pify/
back/node_modules/pluralize/
back/node_modules/prelude-ls/
back/node_modules/prepend-http/
back/node_modules/process-nextick-args/
back/node_modules/progress/
back/node_modules/proxy-addr/
back/node_modules/pseudomap/
back/node_modules/psl/
back/node_modules/pstree.remy/
back/node_modules/pump/
back/node_modules/punycode/
back/node_modules/pupa/
back/node_modules/qs/
back/node_modules/range-parser/
back/node_modules/raw-body/
back/node_modules/rc/
back/node_modules/read-pkg/
back/node_modules/readable-stream/
back/node_modules/readdirp/
back/node_modules/regexpp/
back/node_modules/registry-auth-token/
back/node_modules/registry-url/
back/node_modules/request/
back/node_modules/require-directory/
back/node_modules/require-main-filename/
back/node_modules/require-uncached/
back/node_modules/resolve-from/
back/node_modules/resolve/
back/node_modules/responselike/
back/node_modules/restore-cursor/
back/node_modules/retry/
back/node_modules/rimraf/
back/node_modules/run-async/
back/node_modules/rx-lite-aggregates/
back/node_modules/rx-lite/
back/node_modules/rxjs/
back/node_modules/safe-buffer/
back/node_modules/safer-buffer/
back/node_modules/semver-diff/
back/node_modules/semver/
back/node_modules/send/
back/node_modules/serve-static/
back/node_modules/set-blocking/
back/node_modules/setprototypeof/
back/node_modules/sha.js/
back/node_modules/shebang-command/
back/node_modules/shebang-regex/
back/node_modules/signal-exit/
back/node_modules/slice-ansi/
back/node_modules/source-map-support/
back/node_modules/source-map/
back/node_modules/spawn-command/
back/node_modules/spdx-correct/
back/node_modules/spdx-exceptions/
back/node_modules/spdx-expression-parse/
back/node_modules/spdx-license-ids/
back/node_modules/spotify-web-api-node/
back/node_modules/sprintf-js/
back/node_modules/sshpk/
back/node_modules/statuses/
back/node_modules/streamsearch/
back/node_modules/string-width/
back/node_modules/string.prototype.trimend/
back/node_modules/string.prototype.trimstart/
back/node_modules/string_decoder/
back/node_modules/strip-ansi/
back/node_modules/strip-json-comments/
back/node_modules/subscriptions-transport-ws/
back/node_modules/superagent/
back/node_modules/supports-color/
back/node_modules/symbol-observable/
back/node_modules/table/
back/node_modules/term-size/
back/node_modules/text-table/
back/node_modules/through/
back/node_modules/tmp/
back/node_modules/to-readable-stream/
back/node_modules/to-regex-range/
back/node_modules/toidentifier/
back/node_modules/touch/
back/node_modules/tough-cookie/
back/node_modules/tree-kill/
back/node_modules/ts-invariant/
back/node_modules/ts-node/
back/node_modules/tslib/
back/node_modules/tunnel-agent/
back/node_modules/tweetnacl/
back/node_modules/type-check/
back/node_modules/type-fest/
back/node_modules/type-is/
back/node_modules/typedarray-to-buffer/
back/node_modules/typedarray/
back/node_modules/typescript/
back/node_modules/undefsafe/
back/node_modules/unique-string/
back/node_modules/unpipe/
back/node_modules/update-notifier/
back/node_modules/uri-js/
back/node_modules/url-parse-lax/
back/node_modules/util-deprecate/
back/node_modules/util.promisify/
back/node_modules/utils-merge/
back/node_modules/uuid/
back/node_modules/validate-npm-package-license/
back/node_modules/vary/
back/node_modules/verror/
back/node_modules/which-module/
back/node_modules/which/
back/node_modules/widest-line/
back/node_modules/word-wrap/
back/node_modules/wrap-ansi/
back/node_modules/wrappy/
back/node_modules/write-file-atomic/
back/node_modules/write/
back/node_modules/ws/
back/node_modules/xdg-basedir/
back/node_modules/xss/
back/node_modules/y18n/
back/node_modules/yallist/
back/node_modules/yargs-parser/
back/node_modules/yargs/
back/node_modules/yn/
back/node_modules/zen-observable-ts/
back/node_modules/zen-observable/
